<div class="toolbar">
    <md-toolbar color="primary">
        <span><md-icon>games</md-icon>Retro Gaming Studio</span>
        <span class="spacer"></span>
        <button (click)="displaySearchBar = true" md-icon-button><md-icon>search</md-icon></button>
    </md-toolbar>

    <md-toolbar *ngIf="displaySearchBar" class="menu-search-bar">
        <md-input-container class="menu-search" floatPlaceholder="never">
            <input mdInput placeholder="Rechercher un jeu" [(ngModel)]="searchInput" (keyup.enter)="search()" (keyup.escape)="closeSearchBar()" value="searchInput">
        </md-input-container>
        <span class="spacer"></span>
        <button md-icon-button (click)="closeSearchBar()"><md-icon>close</md-icon></button>
    </md-toolbar>
</div>