/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
    margin: 0;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.padding-right {
    padding-right: 24px;
}

.justify {
    text-align:justify;
    line-height: 1.5em;
}

.padding {
    padding: 5px;
}