<md-card>
    <md-card-header>
        <md-card-title>{{game.name}}</md-card-title>
    </md-card-header>
    <img md-card-image [src]="image" />
    <md-card-content>
        <p class="justify">{{game.description}}</p>
        <div class="consoles">
            <span class="console" *ngFor="let console of game.consoles">{{console.name}}</span>
        </div>
        <h3>Jouabilité</h3>
        <score [value]="4" (onScoreSelected)="addJouabiliteScore($event)"></score>
    </md-card-content>
</md-card>